#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 40px;
  width: 100%;
  overflow: auto;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

/* PROFILE ZONE */
.photograph-header {
  display: grid;
}

.profile-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.photographer-profile h1 {
  color: #d3573c;
  font-size: 3em;
  font-weight: normal;
  margin: 0;
}

.photographer-profile h2.location {
  color: #901c1c;
  font-size: 1.5em;
  font-weight: normal;
  padding-bottom: 10px;
  margin: 0;
}

.photographer-profile p.baseline {
  color: #000;
  font-size: 1em;
  margin: 3px 0;
}

.profile-zone img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

form .contact_button {
  margin-top: 10px;
  height: 54px;
}

/* ENCART */

.insert {
  position: fixed;
  bottom: 0;
  right: 160px;
  background-color: #db8876;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  padding: 18px 40px;
  font-size: 1.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* MODAL */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 3em;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 1.3em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 6px;
}

form input {
  width: 95%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 0 10px;
}

textarea {
  width: 95%;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/* Formatage des Erreurs et Validations */

#error-firstname,
#error-lastname,
#error-email,
#error-message {
  font-size: 1em;
  color: #0000bc;
  margin-top: 5px;
  font-weight: bold;
}

.invalid {
  border: 3px solid red;
}

.valid {
  border: 3px solid rgb(0, 227, 19);
}

/* DROPDOWN MENU */

#sort {
  position: absolute;
  margin: 15px 100px;
  display: flex;
  align-items: baseline;
  font-size: 1em;
}

#sort-by {
  display: flex;
  align-items: baseline;
  font-weight: bold;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 150px;
}

.dropbtn {
  border-radius: 5px;
}

.dropdown button {
  background-color: #901c1c;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.dropdown button:hover {
  background-color: #db8876;
}

#myDropdown > button:nth-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content {
  display: none;
  position: relative;
  top: -3px;
  /* position: absolute;
  background-color: #901c1c;
  width: 100%;
  z-index: 1; */
}

/* GALLERY */

.gallery {
  margin: 80px 100px;
  justify-content: center;
  display: grid;
  align-items: baseline;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 350px);
  column-gap: 80px;
  row-gap: 20px;
}

.gallery img,
video {
  width: 350px; /* Hauteur fixe de 350px */
  height: 300px; /* Hauteur fixe de 300px */
  object-fit: cover;
  border-radius: 7px;
  cursor: pointer;
}

.caption-likes {
  color: #901c1c;
  font-size: 1.5em;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.likes-zone {
  display: flex;
  align-items: center;
}

.likes {
  font-weight: 500;
}

.fa-heart {
  padding-left: 5px;
}

.gallery .fa-heart:hover {
  color: pink;
  cursor: pointer;
}

.gallery .fa-heart.clicked {
  color: red; /* Couleur rouge pour indiquer que le cœur est activé */
}

/* LIGHTBOX */

.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.lightbox-content {
  position: relative;
  width: 1000px;
  top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.lightbox .fa-solid {
  font-size: 42px;
  color: #901c1c;
}

.fa-xmark {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  cursor: pointer;
}

.fa-chevron-left,
.fa-chevron-right {
  cursor: pointer;
}

.lightbox-content video,
.lightbox-content img {
  width: 840px;
  height: 720px;
  object-fit: cover;
  border-radius: 5px;
}

.lightbox figcaption {
  color: #901c1c;
  font-size: 1.5em;
  margin-top: 5px;
}
